.wrap{
  height: 100%;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}
.header{
  height: 64px;
  line-height: 64px;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.19);
    z-index: 9;

}
.logo{
  width: 120px;
}
.main{
  display: flex;
  flex:1;
  overflow: hidden;
}
.leftside{
  width: 200px;
  background-color: #232a41;
  overflow-y: auto;
}
.content{
  flex:1;
}
.context{
  background-color: #ccc;
  padding: 80px;
}